In [5]:
import pandas as pd
import ast

In [4]:
# 데이터 불러오기
df = pd.read_csv("ppg_data.csv")

# 데이터 구조 확인
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      17 non-null     object
 1   ppg_data  17 non-null     object
dtypes: object(2)
memory usage: 400.0+ bytes

                  time                                           ppg_data
0  2025-02-14 18:14:27  [1672.9695333422503, 1986.5196553719618, 2216....
1  2025-02-14 18:14:39  [1100.6734299617276, 1428.6767377719339, 1322....
2  2025-02-14 18:14:51  [850.5780528948004, 742.5390563687934, 670.547...
3  2025-02-14 18:15:03  [860.0256832318538, 1121.2498964592564, 1436.7...
4  2025-02-14 18:15:15  [1027.243698084188, 657.8743100443685, 369.136...

In [8]:
print(df["ppg_data"].apply(type).unique())

[<class 'list'>]

In [9]:
# ppg_data 컬럼을 하나의 리스트로 합치기
all_ppg_data = [value for sublist in df["ppg_data"] for value in sublist]

In [10]:
# 중간에서 500개 데이터 선택
total_length = len(all_ppg_data)
start_idx = (total_length - 500) // 2
end_idx = start_idx + 500

processed_ppg_data = all_ppg_data[start_idx:end_idx]

# 결과 확인
print(f"Processed PPG Data Length: {len(processed_ppg_data)}")
print(f"First 10 values: {processed_ppg_data[:10]}")

Processed PPG Data Length: 500
First 10 values: [936.7932713506489, 1102.8225765327086, 1283.7605889012225, 1495.5819069857266, 1719.2764534148187, 1770.7437333865378, 1524.064889513927, 1168.0806395525237, 916.2068357524771, 746.0018180486543]

In [14]:
# 데이터를 개별 행으로 저장
df_processed = pd.DataFrame({"ppg_data": processed_ppg_data})

# CSV 파일로 저장 (각 값이 한 행씩 저장됨)
output_path = "ppg_data2.csv"
df_processed.to_csv(output_path, index=False)

print(f"Processed data saved to {output_path}")

Processed data saved to ppg_data2.csv